@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
}

body {
    background: rgb(179, 176, 176);
    font-family: 'Raleway', sans-serif;

}

h1 {
    margin: 1rem 3rem;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#editor {
    height: 80vh;
    margin-top: 1rem;
}

#preview {
    background: violet;
    color: #fff;
    padding-left: 1rem;
    margin-top: 1rem;
}

.text-center {
    background: lightgray;
    box-shadow: 5px 10px #3b3b3a23;
    border-radius: 10px 0px;
}

.preview img {
    max-width: 50%;
}

@media only screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
        max-width: 100vw;
    }
}